<a href="https://colab.research.google.com/github/abdullahndm/classifier-process/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [14]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Latihan/ini.csv')

In [4]:
df_c = df.astype('category')

df_c["Posisi Sayap"] = df_c["Posisi Sayap"].cat.codes
df_c["Kemiringan Sayap"] = df_c["Kemiringan Sayap"].cat.codes
df_c["Bentuk Sayap"] = df_c["Bentuk Sayap"].cat.codes
df_c["Arah Sayap"] = df_c["Arah Sayap"].cat.codes
df_c["Jenis Mesin"] = df_c["Jenis Mesin"].cat.codes
df_c["Jumlah Mesin"] = df_c["Jumlah Mesin"].cat.codes
df_c["Posisi Mesin"] = df_c["Posisi Mesin"].cat.codes
df_c["Bentuk Badan"] = df_c["Bentuk Badan"].cat.codes
df_c["Hidung Badan"] = df_c["Hidung Badan"].cat.codes
df_c["Tengah Badan"] = df_c["Tengah Badan"].cat.codes
df_c["Posisi Ekor"] = df_c["Posisi Ekor"].cat.codes
df_c["Jumlah Ekor"] = df_c["Jumlah Ekor"].cat.codes
df_c["Bentuk Ekor"] = df_c["Bentuk Ekor"].cat.codes
df_c["Persenjataan"] = df_c["Persenjataan"].cat.codes
df_c["Warna"] = df_c["Warna"].cat.codes
df_c["Nama_PTTA"] = df_c["Nama_PTTA"].cat.codes

df_c.head(20)

,Posisi Sayap,Kemiringan Sayap,Bentuk Sayap,Arah Sayap,Jenis Mesin,Jumlah Mesin,Posisi Mesin,Bentuk Badan,Hidung Badan,Tengah Badan,Posisi Ekor,Jumlah Ekor,Bentuk Ekor,Persenjataan,Warna,Nama_PTTA
0,1,1,0,1,0,1,0,0,1,1,4,3,1,1,1,0
1,1,1,2,1,2,1,0,0,0,1,4,3,1,1,1,1
2,1,1,0,1,0,0,0,0,1,1,4,3,1,1,1,2
3,0,1,2,3,0,1,1,0,1,1,0,3,2,1,1,3
4,1,2,1,0,3,1,0,3,1,0,1,1,3,1,1,10
5,0,2,2,3,3,1,0,1,1,1,0,1,3,1,1,11
6,0,2,2,3,2,1,0,0,0,0,0,1,3,1,1,9
7,1,2,3,1,1,1,0,0,1,1,3,3,3,1,1,8
8,0,2,2,3,0,0,2,0,0,0,0,1,1,1,1,5
9,0,2,2,4,0,0,2,2,0,0,0,3,3,1,1,6
10,0,2,2,4,0,1,0,0,1,0,0,1,2,1,1,14
11,1,1,1,1,3,1,0,3,0,0,2,0,3,1,1,15
12,0,2,2,4,0,1,0,1,1,0,0,1,4,1,1,16
13,1,2,1,0,3,1,0,3,1,0,3,3,5,1,1,13
14,0,1,2,2,0,1,0,1,2,1,1,3,3,1,1,12
15,0,1,1,0,0,0,0,0,1,1,3,3,5,1,1,18
16,0,2,2,4,2,1,0,1,1,0,0,1,2,1,0,19
17,0,0,2,4,0,1,0,0,0,1,2,2,0,1,1,17
18,1,1,2,3,0,1,0,0,0,0,1,1,3,0,1,7
19,1,1,2,3,0,1,0,0,0,0,1,2,4,0,1,4

In [5]:
feature_cols = ['Posisi Sayap', 'Kemiringan Sayap','Bentuk Sayap','Arah Sayap','Jenis Mesin','Jumlah Mesin','Posisi Mesin','Bentuk Badan','Hidung Badan','Tengah Badan','Posisi Ekor','Jumlah Ekor','Bentuk Ekor','Persenjataan','Warna']

In [6]:
X = df_c[feature_cols]
X.shape

(20, 15)

In [7]:
y = df_c.Nama_PTTA
y.shape

(20,)

In [16]:
# X, y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44)

In [ ]:
# might help
# y_pred = gnb.predict(X_test)
# y_pred = y_pred.Nama_PTTA

# gnb.score(y_test, y_pred)

# y_pred = gnb.fit(X_train, y_train).predict(X_test)
# print("Accuracy:",metrics.accuracy_score(y_test,y_pred))
# print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

In [22]:
from sklearn.preprocessing import StandardScaler  
sc = StandardScaler()  

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [24]:
y_pred = classifier.predict(X_test)

In [25]:
accuracy_score(y_test, y_pred)

0.4

In [26]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         9
           1       0.00      0.00      0.00         9
           2       0.40      1.00      0.57        12

    accuracy                           0.40        30
   macro avg       0.13      0.33      0.19        30
weighted avg       0.16      0.40      0.23        30

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [30]:
metrics.f1_score(y_test, y_pred, average='weighted', labels=np.unique(y_pred))

0.5714285714285715

In [27]:
confusion = confusion_matrix(y_test, y_pred)
# print(confusion)

TP = confusion[0][0]
FP = confusion[0][1]
FN = confusion[1][0]
TN = confusion[1][1]

# Method 1: Sklearn
# accuracy score
# akurasi = accuracy_score(y_test, y_pred)

# recall score
# recall = recall_score(y_test, y_pred, average='micro')

# precision score
# presisi = precision_score(y_test, y_pred, average='micro')

# Method 2: Manual

# Confusion matrix:
# [[TP,FP],
#  [FN,TN]] -> TP = True Positive, FP = False Positive, FN = False Negative, TN = True Negative

# Accuracy/Akurasi
akurasi = (TN + TP) / (TP+FP+FN+TN)

# Precision/Presisi -> Menghitung positive predictive value
presisi = TP/(TP+FP)

# Recall -> Recall is also known as sensitivity or true positive rate
recall = TP/(TP+FN)

error_rate = (FN + FP) / (TP+FP+FN+TN)

print("Akurasi: ",akurasi)
print("Presisi: ",presisi)
print("Recall: ",recall)
print("Error Rate: ",error_rate)

confusion

Akurasi:  nan
Presisi:  nan
Recall:  nan
Error Rate:  nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in long_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: RuntimeWarning: invalid value encountered in long_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in long_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in long_scalars

array([[ 0,  0,  9],
       [ 0,  0,  9],
       [ 0,  0, 12]])

In [29]:
# Getting F1 score

# Method 1: sklearn
from sklearn.metrics import f1_score
f1 = f1_score(y_test, y_pred, average=None)
print("F1 Sklearn: ",f1[0])

# Method 2: Manual Calculation
F1 = 2 * (presisi * recall) / (presisi + recall)
print("F1 Manual: ",F1)

# Method 3: Classification report [BONUS]
# from sklearn.metrics import classification_report
# print(classification_report(y_test, y_pred, target_names=target_names))

F1 Sklearn:  0.0
F1 Manual:  nan